experiments/*.pth
experiments/*.out
experiments/*.lock
experiments/*.txt

clean.sh
parse.py

results_*/
old*/
bash_scripts_1/
sbatch_scripts_1/
sbatch_scripts_50/

__pycache__/
wandb/
temp/

.ipynb_checkpoints/
llm_attacks.egg-info/
