huggingface_hub==0.16.4
numpy==1.25.2
nltk==3.8.1
scikit-learn==1.3.0
sentence-transformers==2.2.2
tokenizers==0.14.1
torch==2.0.1
transformers==4.34.1
wandb==0.14.0
tqdm==4.65.0
pandas==2.0.3
accelerate==0.22.0
protobuf==3.20.3
datasets==2.14.5
fschat==0.2.30
ml_collections
flash-attn==2.3.2
cmake
lit
vllm==0.2.0
openai==0.28.0
tenacity